<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="cabecalho bg-dark text-light py-3">
        <nav class="cabecalho_menu container d-flex justify-content-around">
            <a class="cabecalho_menu_link text-light" href="{{ url_for('index') }}">Home</a>
            <a class="cabecalho_menu_link text-light" href="{{ url_for('about') }}">Sobre mim</a>
            <a class="cabecalho_menu_link text-light" href="{{ url_for('historico') }}">Histórico</a>
        </nav>
    </header>
    
    <main class="apresentação">
        <section class="apresentação__conteudo text-center">
            <h1 class="apresentação__conteudo__titulo">Sobre Mim</h1>
            <p class="apresentação__conteudo__texto">
                Nasci em 23 de outubro de 2003 em Indaiatuba e, desde que me conheço por gente, já era um grande apaixonado por tecnologia e artes.
            </p>
            <p class="apresentação__conteudo__texto">
                Se aprofundei no cinema, terminando um curso em 2022, no AIC, logo após me matriculei na UNIMAX no curso de Ciência da Computação.
            </p>
            <p class="apresentação__conteudo__texto">
                Um grande fã de músicas antigas, principalmente do gênero rock, de filmes, séries, jogos, a cultura no geral.
            </p>
            <p class="apresentação__conteudo__texto">
                Cursei o curso da Alura, se aprofundando em CSS, HTML, JAVASCRIPT, e logo após em outras linguagens de programação.
            </p>
            <p class="apresentação__conteudo__texto">
                Agora trabalho na empresa Ebravo como Desenvolvedor Junior, usando linguagens como Java Spring Boot e Angular.
            </p>
        </section>
        <section>
            <img class="apresentacaoimg img-fluid rounded-circle mb-4" src="{{ url_for('static', filename='eu.png') }}" alt="Esse sou eu, Vitor Hideki Sugawara." style="width: 300px; height: 300px;">
        </section>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
